:root {
    /* colors */
    --med-blue: #2C6F7B;
    --black: #000000;
    --light-blue: #EBF3FF;
    --light-pink: #F39292;
    --teal-green: #59C0A8;
    --dark-blue: #2A4044;
    --dark-grey: #434343;
    --slate-blue: #7F99C0;
    --light-grey: #FAF6F6;
    --transp-blue: rgba(205, 225, 255, 0.4);
}
body {
     font-family: 'Red Hat Display', sans-serif;
}
/* navbar styles */
nav {
    background-color: var(--light-grey);
}
.nav-item {
    color: var(--black);
    text-transform: uppercase;
    font-size: .85rem;
}
.nav-link {
    color: var(--black) !important;
}
.nav-link.active {
    color: var(--black) !important;
    text-decoration: underline;
    font-weight: 700;
}

/* hero styles */
#hero {
    background-color: var(--light-grey);
}
h1 {
    font-weight: 800;
    font-size: 3rem;
}
h2 {
    font-weight: 800;
    font-size: 2.2rem;
}
.hero-subheading {
    font-size: 1.6rem;
}
.hero-blurb {
    color: var(--med-blue);
    font-size: .9rem;
}
.hero-btn a {
    color: var(--med-blue);
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: .8rem;
}
#hero-img {
    width: 100%;
}

/* support styles */
#support {
    border: 1px solid red;
}
#support .subheading {
    color: var(--dark-grey);
    font-size: 1.5rem;
    font-weight: 700;
}
.card-heading {
    display: flex;
    align-items: center;
}
#support .card-heading h3 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 1.5rem;
    font-weight: 700;
}
#support .card {
    border: none;
}
#support .card-text {
    color: var(--med-blue);
}

/* accept styles */
#accept {
    border: 1px solid blue;
}
#accept .card {
    border: none;
}
#accept .card-text {
    color: var(--med-blue);
}
#accept h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

/* not accept styles */
#not-accept {
    border: 1px solid green;
}
#not-accept .subheading {
    color: var(--light-pink);
    font-size: 1.5rem;
    font-weight: 700;
}
.list-group {
    padding-left: 0;
}
.list-group-item {
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 5rem;
}
#not-accept .disclaimer {
    color: var(--teal-green);
    font-size: 1.4rem;
    font-weight: 700;
}
/* footer styles */
footer {
    background-color: var(--light-blue);
}
.footer-logo {
    width: 100px;
}
.footer-credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyright {
    font-size: .85rem;
}
.contact {
    display: flex;
    align-items: center;
    font-size: .85rem;
}
.contact-social {
    padding-right: 3rem;
}
.phone-number, .city {
    font-weight: 700;
}
.street-address {
    font-weight: 500;
}

/* Wishlist links section (on wishlist pages) */
.wishlist-link {
    display: flex;
}