:root {
    /* colors */
    --teal-blue: #2C6F7B;
    --black: #000000;
    --white: #ffffff;
    --light-blue: #EBF3FF;
    --light-pink: #F39292;
    --teal-green: #59C0A8;
    --dark-blue: #2A4044;
    --dark-grey: #434343;
    --slate-blue: #7F99C0;
    --light-grey: #FAF6F6;
    --transp-blue: rgba(0, 0, 0, 0.4);
    /* new colors */
    --med-beige: #F1DBC6;
    --light-beige: #FFF0E1;
    --med-blue: #2356A2;
    --med-blue-transp: rgba(35,86,162, 0.1);
    --slate: #475D7D;
    --brick-red: #BB2626;
    --yellow: #FFC368;
}
body {
     font-family: 'Red Hat Display', sans-serif;
     font-size: 16px;
}
/* navbar styles */
nav {
    background-color: var(--med-beige);
}
.nav-item {
    color: var(--slate);
    text-transform: uppercase;
    font-size: .85rem;
}
.nav-link {
    color: var(--slate);
}
.nav-link.active {
    color: var(--brick-red) !important;
    text-decoration: underline;
    font-weight: 700;
}
/* typography styles */
h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 42px;
    font-weight: 300;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
}
h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
}
h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--med-blue);
}
h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    color: var(--white);
}
p {
    color: var(--slate);
    font-size: 1rem;
}
.hero-subheading {
    font-family: 'Roboto Monospace', monospace;
    font-size: 20px;
    font-weight: 300;
    color: var(--brick-red);
}
.subheading {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: var(--brick-red);
}

/* hero styles */
#hero {
    background-color: var(--light-grey);
}
.hero-btn a {
    color: var(--med-blue);
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
}
#donations-hero-img {
    width: 100%;
}

/* support styles */
#support {
    border: 1px solid red;
}
.card-heading {
    display: flex;
    align-items: center;
}
#support .card-heading h4 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
#support .card {
    border: none;
}

/* accept styles */
#accept {
    border: 1px solid blue;
}
#accept .card {
    border: none;
}


/* not accept styles */
#not-accept {
    border: 1px solid green;
}
.list-group {
    padding-left: 0;
}
.list-group-item {
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--slate);
    padding-left: 0;
    padding-right: 5rem;
}
#not-accept .disclaimer {
    font-family: 'Roboto Mono', monospace;
    color: var(--brick-red);
    font-size: 18px;
}
/* footer styles */
footer {
    background-color: var(--slate);
}
.footer-logo {
    width: 100px;
}
.footer-credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyright {
    font-size: .85rem;
    color: var(--white);
}
.contact {
    display: flex;
    align-items: center;
}
.contact p {
    color: var(--white);
    font-size: .8rem;

}
.contact-social {
    padding-right: 3rem;
}
.phone-number, .city {
    font-weight: 700;
}
.street-address {
    font-weight: 500;
}

/* Wishlist page */
#wishlist-hero {
    background-color: var(--light-beige);
}
#wishlist-hero-img {
    border: 1px solid blue;
}
#wishlists {
    background-color: var(--light-beige);
}
.wishlists-container {
    background-color: var(--white);
    border-radius: 10px;
}
#wishlists .card {
    background-color: var(--med-blue-transp);
    border: none;
    border-radius: 14px;
}
.dropdown a {
    background-color: var(--med-blue-transp);
}
.card-text p.date {
    font-weight: 700;
}
/* wishlist steps */
.wishlist-steps {
    display: flex;
    justify-content: space-around;
    counter-reset: item;
    list-style: none;
}
.wishlist-steps li {
    counter-increment: item;
    margin-bottom: 5px;
}
.wishlist-steps li:before {
    margin-right: 10px;
    content: counter(item);
    background-color: var(--white);
    border: 1px solid var(--slate);
    border-radius: 100%;
    color: var(--slate);
    width: 1.6em;
    text-align: center;
    display: inline-block;
}
.wishlist-steps li.active:before {
    background-color: var(--slate);
    border: 1px solid var(--slate);
    color: var(--white);
}
.wishlist-step-item {
    color: var(--slate);
}
.wishlist-step-item.active {
    font-weight: 700;
}
/* Wishlist links section (on wishlist pages) */
#wishlist-links {
    background-color: var(--light-beige);
}
.wishlist-link {
    display: flex;
}
.breadcrumb {
    text-decoration: none;
    color: var(--slate);
    font-size: .8rem;
}
.breadcrumb-active {
    font-weight: 600;
}